<h1 class="text-center">La liste des restaurants</h1>

<div class="text-center">
  <% @restaurants.each do |restaurant| %>
  <h3><%= restaurant.name %></h3>
  <p><%= link_to "show details", restaurant_path(restaurant), class: "btn btn-success" %></p>
  <% end %>
</div>

<p class="text-center"><%= link_to "add a new restaurant", new_restaurant_path, class: "btn btn-primary" %></p>